html, body {
  font-family: 'Saira', sans-serif;
}

#root {
  position: relative;
  overflow: hidden;
}

.gces-col {
  padding: 24px 32px;
  position: relative;
}

#root footer,
#root header {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

.clear::after {
  content: "";
  clear: both;
  display: table;
}

ul {
  margin: 0 auto;
}

header a {
  color: #000;
  margin-right: 8px;
}

header a > strong {
  margin-right: 16px;
}
nav {
  text-align: center;
}
nav li {
  display: inline-block
}

html, body {
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-background {
  
}

.title--event {
  font-size: 30px;
  color: #f7f7f7;
  font-weight: 400;
}

.title--gces {
  font-size: 38px;
  color: #f7f7f7;
  font-weight: 500;
  margin-top: -8px;
}

.title--expo {
  font-size: 64px;
  color: #f7f7f7;
  font-weight: 900;
  margin-top: -16px;
}

.title--year {
  font-size: 30px;
  margin-top: -16px;
  font-weight: 400;
  color: #f7f7f7;
}

.carousel-item img {
  width: 100%;
  max-width: 192px;
}

#events {
  padding: 32px 0;
}

.blockquote {
  color: #f7f7f7;
  margin-top: 24px;
  font-style: oblique;
}

.slider {
  border: 2px solid #fff;
  padding: 0;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.slider, #events {
  transition: all .2s ease;
}

#about p {
  color: #f7f7f7;
  margin: 16px 0;
  text-align: justify;
}

#about h3 {
  font-size: 20px;
  margin: 8px 0;
  color: #fafafa;
}

label {
  margin: 8px 0;
  color: #fff;
  font-weight: 500;
}

#about h1 {
  border-left: 8px solid #fffa;
  font-size: 36px;
  padding-left: 16px;
  color: #fff;
  margin: 32px 0 16px 0;
}

ul {
  color: #f7f7f7;
  margin-top: 0;
  margin-left: 12px;
  margin-bottom: 8px;
}

.card-body {
  min-height: 280px;
}

.download {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}